#instafeed{
    display: flex;
    flex-wrap: wrap;
    .instafeed__item{
      position: relative;
      &:hover .instafeed__item__overlay{
        opacity: 1;
        bottom: 6px;
      }
    }
    .instafeed__item__overlay {
      display: block;
      position: absolute;
      padding: $pad;
      background: rgba(255,255,255,0.8);
      bottom: 9px;
      opacity: 0;
      transition: $transition;
    }
  img{
    width: 100%;
  }
  a{
    width: calc(25% - 12px);
    box-sizing:border-box;
    @media only screen  and (min-width :  $break-mid) {
    margin: 0 8px;
    &:nth-child(2){
      margin-left: 0;
     
    }
    &:nth-child(5){
       margin-right: 0;
    }
    }

  }

}