@font-face {
  font-family: 'lingua-r';
  src: url("fonts/lingua-r.eot");
  /* IE9 Compat Modes */
  src: url("fonts/lingua-r.eot?#iefix") format("embedded-opentype"), url("fonts/lingua-r.woff") format("woff"), url("fonts/lingua-r.ttf") format("truetype"), url("fonts/lingua-r.svg#c10f620bfbfd23b3f98ee507e5a6166e") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'proxima-r';
  src: url("fonts/proxima_r.eot");
  /* IE9 Compat Modes */
  src: url("fonts/proxima_r.eot?#iefix") format("embedded-opentype"), url("fonts/proxima_r.woff") format("woff"), url("fonts/proxima_r.ttf") format("truetype"), url("fonts/proxima_r.svg#c10f620bfbfd23b3f98ee507e5a6166e") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}