/* Variables
 ========================================================================== */
.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0; }

/* Mixin
 ========================================================================== */
.wrapper {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }
  @media only screen and (max-width: 1200px) {
    .wrapper {
      padding-right: 16px;
      padding-left: 16px; } }
  @media only screen and (max-width: 768px) {
    .wrapper {
      padding-right: 16px;
      padding-left: 16px; } }

.wrapper-m {
  width: 768px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }

/*
  @include bp-large{
      float: right;
      margin: 9px 0 5px 1rem;
  }
*/
body {
  background: linear-gradient(219deg, #5a141e, #982436, #364251, #2e3443);
  background-attachment: fixed;
  color: #FFF;
  font-family: 'proxima-r'; }

@font-face {
  font-family: 'lingua-r';
  src: url("fonts/lingua-r.eot");
  /* IE9 Compat Modes */
  src: url("fonts/lingua-r.eot?#iefix") format("embedded-opentype"), url("fonts/lingua-r.woff") format("woff"), url("fonts/lingua-r.ttf") format("truetype"), url("fonts/lingua-r.svg#c10f620bfbfd23b3f98ee507e5a6166e") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'proxima-r';
  src: url("fonts/proxima_r.eot");
  /* IE9 Compat Modes */
  src: url("fonts/proxima_r.eot?#iefix") format("embedded-opentype"), url("fonts/proxima_r.woff") format("woff"), url("fonts/proxima_r.ttf") format("truetype"), url("fonts/proxima_r.svg#c10f620bfbfd23b3f98ee507e5a6166e") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

html {
  font-size: 18px;
  line-height: 1.5; }

.red {
  background: #FE3048;
  color: #fff;
  padding: 0 4px; }

.center {
  text-align: center; }

ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #FE3048; }

iframe {
  width: 100%; }

.col2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10vh 0; }
  @media only screen and (max-width: 768px) {
    .col2 {
      margin: 5vh 0; } }
  @media only screen and (max-width: 40em) {
    .col2 {
      flex-direction: column; } }
  @media only screen and (max-width: 768px) {
    .col2 > div {
      padding: 16px 0; } }
  .col2 > div {
    width: 50%; }
    @media only screen and (max-width: 40em) {
      .col2 > div {
        width: 100%; } }
  .col2 > canvas {
    max-width: 50%;
    margin-bottom: 8vh; }
    .col2 > canvas:nth-child(7), .col2 > canvas:nth-child(8) {
      margin-bottom: 0; }
    @media only screen and (max-width: 40em) {
      .col2 > canvas {
        max-width: 100%; } }
  .col2.col2-1 div:nth-child(1) {
    width: 67%;
    padding-right: 16px;
    box-sizing: border-box; }
  .col2.col2-1 div:nth-child(2) {
    width: 33%; }

.col3 {
  display: flex;
  flex-wrap: wrap; }
  .col3 > div {
    width: 33.33%; }
    @media only screen and (max-width: 40em) {
      .col3 > div {
        width: 100%; } }

.col4 {
  display: flex;
  flex-wrap: wrap;
  margin: 5vh 0; }
  @media only screen and (max-width: 768px) {
    .col4 {
      margin: 2vh 0; } }
  .col4 > div, .col4 > a {
    width: 25%; }
    @media only screen and (max-width: 40em) {
      .col4 > div, .col4 > a {
        width: 100%; } }

#instafeed {
  display: flex;
  flex-wrap: wrap; }
  #instafeed div {
    display: none; }
  #instafeed img {
    width: 100%; }
  #instafeed a {
    width: calc(25% - 12px);
    box-sizing: border-box; }
    @media only screen and (min-width: 768px) {
      #instafeed a {
        margin: 0 8px; }
        #instafeed a:nth-child(2) {
          margin-left: 0; }
        #instafeed a:nth-child(5) {
          margin-right: 0; } }

/* footer */
footer {
  font-size: 0.8em;
  border-top: 1px solid #fff;
  padding-top: 20px; }
  footer h2 {
    font-size: 1em; }

.socialicons li {
  display: inline;
  float: left;
  margin: 0 8px 0 0;
  padding: 0; }

.socialicons li a {
  float: left;
  height: 30px;
  width: 30px;
  -webkit-transition: all 350ms ease-in-out 0s;
  transition: all 350ms ease-in-out 0s; }

.social-linkedin {
  background: url("/img/social_linkedin.png") no-repeat scroll 5px 5px #444; }

.social-twitter {
  background: url("/img/social_twitter.png") no-repeat scroll 5px 5px #444; }

.social-soundcloud {
  background: url("/img/social_soundcloud.png") no-repeat scroll 5px 5px #444; }

.socialicons li a:hover {
  -webkit-transition: all 50ms ease-in-out 0s;
  transition: all 50ms ease-in-out 0s; }

.social-linkedin:hover {
  background-color: #3B5998; }

.social-twitter:hover {
  background-color: #22B1E5; }

.social-soundcloud:hover {
  background-color: #FF7100; }

/* header */
header {
  padding-top: 10vh; }
  header.wrapper {
    margin-bottom: 5vh; }
  header h1 {
    font-family: 'lingua-r';
    margin-bottom: 1rem; }
  header span {
    display: block;
    font-size: 1.2rem; }
  header ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  header li {
    display: inline-block; }
  header a {
    background: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 0 5px;
    padding: 0 10px;
    transition: 0.35s all cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    @media only screen and (max-width: 40em) {
      header a {
        font-size: 0.7em; } }
    header a.active {
      color: #fff;
      background: #FE3048;
      border-radius: 2px; }
  header .logo {
    width: 140px; }

.awardlist {
  font-size: 12px;
  text-align: center;
  color: #FFF; }
  .awardlist div {
    cursor: pointer; }

.project .p_image img {
  display: block;
  margin-bottom: 16px; }

.project img {
  width: 100%; }

.project .hiddendesc {
  display: none; }

.project h2 {
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 16px 0;
  line-height: 1; }
  @media only screen and (max-width: 768px) {
    .project h2 {
      font-size: 6vw;
      line-height: 1.4; } }

.projectlist li:first-child .project {
  margin-top: 0; }

.projectlist li:nth-child(2n) .col2 div:first-child {
  order: 2; }
  @media only screen and (max-width: 768px) {
    .projectlist li:nth-child(2n) .col2 div:first-child {
      order: 0; } }

.projectlist li:nth-child(2n) .col2 div:nth-child(2) {
  order: 1; }

@media only screen and (min-width: 768px) {
  .projectlist .project .desc, .projectlist .project .role, .projectlist .project .stack, .projectlist .project h2 {
    padding: 0 6vw; } }

.portratt img {
  width: 100%; }
